@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/RecordViewLayout.cshtml";
}
@model List<HeadacheCDSSWeb.Models.VisitRecord>
<div id="content">
     <div id="ViewContent">
                 <div id="ocx">
                    <object id="Reporter2" classid="clsid:466F909A-0EE1-4F40-A2CA-9906C5E36CB2" width="600"
                        height="540">
                    </object>
                </div>
                <div id="continue" class="button">
                    @Html.ActionLink("继续问诊", "ContinueDiagnosis", new { id = ViewBag.patId })
                </div>
                <div id="diagnosis" class="button">
                    @Html.ActionLink("开始新问诊", "GoToDiagnosis", new { id = ViewBag.patId })
                </div>
                <div id="delete" class="button">
                    <a>删除记录</a>
                </div>

        </div>
        <div id="@ViewBag.patId" class="PID" style="display:none;"></div>
    </div>
    <div id="sidebar">
    <div id="navigate">
          <div id="accordion">
          <h3>就诊记录</h3>
          <div>
          <div id="List">
            <ul class="paging">
            @foreach (var item in Model)
            {
                <li><a href="#"  id="@item.Id">@item.VisitDate.Date.ToString("yyyy-MM-dd")</a> </li>
            }
        </ul>
        </div>
        <div class="pagination">
        <a href="#" class="first" data-action="first">&laquo;</a> <a href="#" class="previous"
            data-action="previous">&lsaquo;</a>
        <input type="text" readonly="readonly" data-max-page="40" />
        <a href="#" class="next" data-action="next">&rsaquo;</a> <a href="#" class="last"
            data-action="last">&raquo;</a>
        </div>
          </div>
          <h3 >头痛日志</h3>
          <div>
              <ul class="diary">
              <li><a href="#"  >日志分析</a></li>
              </ul>
          </div>
    </div>
  </div>
  <div id="return" class="button">
            @Html.ActionLink("返回查询", "index","EnterpatInfor")
        </div>
  </div>
<script type="text/javascript">
    $(function () {
        //打开第一个问诊记录
        $("#accordion").accordion();
        $('.paging a:first').addClass("CurrentView");
        $(".CurrentView").parent().css("background-color", "#D3E7F2");
    });
    $(document).ready(function () {
        
        $(".paging").find("li").hide();
        $(".paging li:lt(12)").addClass("current").show();
        var num = Math.ceil($(".paging li").length / 12);
        $('.pagination').jqPagination({
            max_page: num,
            paged: function (page) {
                $(".current").hide();
                var start = (page - 1) * 12;
                for (var i = 0; i < 12; i++) {

                    $(".paging li:eq(" + start + ")").addClass("current").show();
                    start = start + 1;
                }
                // do something with the page variable

            }
        })
    });
    $(function () {


        $(".paging li  a").click(function () {

            var recordToView = $(this).attr("id");
            var stringArray = new Array();
            stringArray[0] = $(".PID").attr("id");
             stringArray[1] = recordToView; 

            $.ajax({

                type: "POST",

                url: '@Url.Action("ViewVisitRecordDetail", "ViewPatRecord")',

                data: { PostID: stringArray },
                dataType: "json", type: "POST", traditional: true,
                success: function (data) {
                    //$('#ViewContent').html(data);
                    $(".CurrentView").parent().css("background-color", "#B9DCF2");
                    $(".CurrentView").removeClass("CurrentView");
                    $('#' + recordToView).addClass("CurrentView");
                    $(".CurrentView").parent().css("background-color", "#D3E7F2");
                },

                error: function (jqXhr, textStatus, errorThrown) {
                    alert("Error '" + jqXhr.status + "' (textStatus: '" + textStatus + "', errorThrown: '" + errorThrown + "')");
                    alert("处理失败!");
                }

            });

        });
        $(".diary li a").click(function () {
            $.ajax({
                type: "POST",

                url: '@Url.Action("ViewDiary", "ViewPatRecord")',
                success: function (data) {
                    $('#ViewContent').html(data);
                },
                error: function () {
                    alert("处理失败!");
                }

            });

        });
        $("#delete").click(function () {
            var pid = '@ViewBag.patId';
            $.ajax({
                url: '@Url.Action("DeleteRecord", "ViewPatRecord")',
                type: "POST",
                data: { id: pid },
                success: function (data) {
                    if (data.OK) {
                        $('#' + data.Message).parent().remove();
                        $("#ViewContent").hide();
                    }
                    else {
                        alert("删除失败");
                    }
                },
                error: function (jqXhr, textStatus, errorThrown) {
                    alert("Error '" + jqXhr.status + "' (textStatus: '" + textStatus + "', errorThrown: '" + errorThrown + "')");
                }
            });

        })

    });
  </script>