@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/RecordViewLayout.cshtml";
}
@model List<HeadacheCDSSWeb.Models.VisitRecord>
<div id="content">
     <div id="ViewContent">
          <div id="ocx">
                 <object id="Reporter2" classid="clsid:466F909A-0EE1-4F40-A2CA-9906C5E36CB2" width="600"
                       height="540">
                  </object>
               </div>

                <div id="continue" class="button">
                    @Html.ActionLink("继续问诊", "ContinueDiagnosis", new { id = ViewBag.patId })
                </div>
                <div id="diagnosis" class="button">
                    @Html.ActionLink("开始新问诊", "GoToDiagnosis", new { id = ViewBag.patId })
                </div>
                <div id="delete" class="button">
                    <a>删除记录</a>
                </div>

        </div>
        <div id="DiaryView"></div>
        <div id="@ViewBag.patId" class="PID" style="display:none;"></div>
        <div id="RecordID" class="@ViewBag.recordId" style="display:none;"></div>
    </div>
    <div id="sidebar">
    <div id="navigate">
          <div id="accordion">
          <h3>就诊记录</h3>
          <div>
          <div id="List">
            <ul class="paging">
            @foreach (var item in Model)
            {
                <li><a href="#"  id="@item.Id">@item.VisitDate.Date.ToString("yyyy-MM-dd")</a> </li>
            }
        </ul>
        </div>
        <div class="pagination">
        <a href="#" class="first" data-action="first">&laquo;</a> <a href="#" class="previous"
            data-action="previous">&lsaquo;</a>
        <input type="text" readonly="readonly" data-max-page="40" />
        <a href="#" class="next" data-action="next">&rsaquo;</a> <a href="#" class="last"
            data-action="last">&raquo;</a>
        </div>
          </div>
          <h3 >头痛日志</h3>
          <div>
              <ul class="diary">
              <li ><a href="#"  id="statics">头痛情况统计分析</a></li>
              <li ><a href="#" id="report" >近三个月分析报告</a></li>
              </ul>
          </div>
    </div>
  </div>
  <div id="return" class="button">
            @Html.ActionLink("返回查询", "index","EnterpatInfor")
        </div>
  </div>
<script type="text/javascript">
    $(function () {
        var OCX = document.getElementById('Reporter2');
        try {
            OCX.OpenReport("D:\\CDSSOCX");
        }
        catch (err) {
            var b = confirm("是否下载显示控件");
            if (b) {
                var strOCXURL;
                strOCXURL = "http://" + location.host + "/LNCDCDSS/CDSSOCX.exe";
                window.location.href = strOCXURL;
            }
        }
        var stringArray = new Array();
        stringArray[0] = $(".PID").attr("id");
        stringArray[1] = $("#RecordID").attr("class");
        $.ajax({
            type: "POST",
            url: '@Url.Action("ViewVisitRecordDetail", "ViewPatRecord")',
            data: { PostID: stringArray },
            dataType: "json", type: "POST", traditional: true,
            success: function (data) {
                $("#ViewContent").show();
                $("#DiaryView").hide();
                //赋值
                SetReportData(data);
                
            },
            error: function (jqXhr, textStatus, errorThrown) {
                alert("Error '" + jqXhr.status + "' (textStatus: '" + textStatus + "', errorThrown: '" + errorThrown + "')");
                alert("处理失败!");
            }

        });
        //打开第一个问诊记录
        $("#accordion").accordion(
        { collapsible: true });
        $('.paging li a:first').addClass("CurrentView");
        $(".CurrentView").parent().css("background-color", "#D3E7F2");
    });
    $(document).ready(function () {
        
        $(".paging").find("li").hide();
        $(".paging li:lt(12)").addClass("current").show();
        var num = Math.ceil($(".paging li").length / 12);
        $('.pagination').jqPagination({
            max_page: num,
            paged: function (page) {
                $(".current").hide();
                var start = (page - 1) * 12;
                for (var i = 0; i < 12; i++) {

                    $(".paging li:eq(" + start + ")").addClass("current").show();
                    start = start + 1;
                }
                // do something with the page variable

            }
        })
    });
    $(function () {
        $(".paging li  a").click(function () {

            var recordToView = $(this).attr("id");
            var stringArray = new Array();
            stringArray[0] = $(".PID").attr("id");
            stringArray[1] = recordToView;

            $.ajax({

                type: "POST",

                url: '@Url.Action("ViewVisitRecordDetail", "ViewPatRecord")',

                data: { PostID: stringArray },
                dataType: "json", type: "POST", traditional: true,
                success: function (data) {
                    $("#ViewContent").show();
                    $("#DiaryView").hide();
                    //$('#ViewContent').html(data);
                    SetReportData(data);
                    $(".CurrentView").parent().css("background-color", "#B9DCF2");
                    $(".CurrentView").removeClass("CurrentView");
                    $('#' + recordToView).addClass("CurrentView");
                    $(".CurrentView").parent().css("background-color", "#D3E7F2");
                },

                error: function (jqXhr, textStatus, errorThrown) {
                    alert("Error '" + jqXhr.status + "' (textStatus: '" + textStatus + "', errorThrown: '" + errorThrown + "')");
                    alert("处理失败!");
                }

            });

        });
        $(".diary li a").click(function () {
            if ($(this).attr("id") == "statics") {
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("ViewDiary", "ViewPatRecord")',
                    success: function (data) {
                        $("#ViewContent").hide();
                        $("#DiaryView").html(data);
                        $("#DiaryView").show();
                        var plot1 = $.jqplot('linegraph', [[3, 7, 9, 1, 4, 6, 8, 2, 5]]);
                        var data = [
                                                    ['Heavy Industry', 12], ['Retail', 9], ['Light Industry', 14],
                                                    ['Out of home', 16], ['Commuting', 7], ['Orientation', 9]
                                                  ];
                                                                        var plot2 = jQuery.jqplot('piegraph', [data],
                                                    {
                                                        seriesDefaults: {
                                                            renderer: jQuery.jqplot.PieRenderer,
                                                            rendererOptions: {
                                                                // Turn off filling of slices.
                                                                fill: false,
                                                                showDataLabels: true,
                                                                // Add a margin to seperate the slices.
                                                                sliceMargin: 4,
                                                                // stroke the slices with a little thicker line.
                                                                lineWidth: 5
                                                            }
                                                        },
                                                        legend: { show: true, location: 'e' }
                                                    }
                                                  );
                    },
                    error: function () {
                        alert("处理失败!");
                    }
                });
            }
            else {
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("ViewDiaryReport", "ViewPatRecord")',
                    success: function (data) {
                        $("#ViewContent").hide();
                        $("#DiaryView").html(data);
                        $("#DiaryView").show();
                    },
                    error: function () {
                        alert("处理失败!");
                    }
                });

            }

        });
        $("#delete").click(function () {
            var pid = '@ViewBag.patId';
            $.ajax({
                url: '@Url.Action("DeleteRecord", "ViewPatRecord")',
                type: "POST",
                data: { id: pid },
                success: function (data) {
                    if (data.OK) {
                        $('#' + data.Message).parent().remove();
                        $("#ViewContent").hide();
                    }
                    else {
                        alert("删除失败");
                    }
                },
                error: function (jqXhr, textStatus, errorThrown) {
                    alert("Error '" + jqXhr.status + "' (textStatus: '" + textStatus + "', errorThrown: '" + errorThrown + "')");
                }
            });

        })

    });
    function SetReportData(jsonData) 
    {
        var obj = eval('(' +jsonData + ')');
        var OCX = document.getElementById('Reporter2');
        //set patient basic information
        var strPatientInfo = "姓名：" + obj.Name;
        strPatientInfo += " 性别:" + obj.Sex;
        strPatientInfo += " 年龄:" + obj.Age;
        strPatientInfo += " 教育程度:" + obj.Education;
        strPatientInfo += " 工作:" + obj.Job;
        strPatientInfo += " 电话:" + obj.Phone;
        strPatientInfo += " 地址:" + obj.Address;
        //strPatientInfo += " 身份证:" + obj.Identity;
        strPatientInfo += " 主治医生:" + obj.ChiefDoctor;
        OCX.SetObjectInfo("TextBox_21", "text", strPatientInfo);

        //set chief complaint
        if(obj.ChiefComplaint!=null)
        {
                var strChiefComplaint = obj.ChiefComplaint;
                OCX.SetObjectInfo("TextBox_22", "text", strChiefComplaint);
        }
    //set diagnoses
            if (obj.DiagnosisResult1 == null && obj.DiagnosisResult2 == null && obj.DiagnosisResult3== null)
        {
            
        }
        else{
                var strDiagnoses = obj.DiagnosisResult1 + " " + obj.DiagnosisResult2 + " " + obj.DiagnosisResult3;
                OCX.SetObjectInfo("TextBox_23", "text", strDiagnoses);
        }
        //set doctor advice
            if (obj.Prescription != null) {
            var strDoctorAdvice = obj.Prescription;
            OCX.SetObjectInfo("TextBox_24", "text", strDoctorAdvice);
        }
        OCX.ShowReport();
        OCX.ShowThisPage("就诊记录");
    }
        
     
  </script>